[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=black_sum
MimeType=inode/directory;
Actions=xxh64sum;xxh128sum;


[Desktop Action xxh64sum]
Name=xxHash 64 bit checksum
Name[nl]=xxHash 64-bit-controlesom
Icon=black_sum
Exec=(f="%f - xxh64sums"; find "%f" -type f -exec xxhsum -H64 '{}' \; > "$f" && sort -V -k 2 -o "$f" "$f")

[Desktop Action xxh128sum]
Name=xxHash 128 bit checksum
Name[nl]=xxHash 128-bit-controlesom
Icon=black_sum
Exec=(f="%f - xxh64sums"; find "%f" -type f -exec xxhsum -H128 '{}' \; > "$f" && sort -V -k 2 -o "$f" "$f")
